/* @import url('https://fonts.googleapis.com/css2?family=Circular+Std:wght@400;500;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Circular Std";
  src: url("/fonts/circular-std-6.ttf");
}

body {
  font-family: "Circular Std";
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
