.gradient-background {
  background: linear-gradient(#d65177, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
  background-size: 200% 200%; /* Make sure the size is large enough to cover the animation area */
  animation: gradient-animation 15s linear infinite;
}

.creative-gradient-background {
  background: linear-gradient(#000000, transparent),
    linear-gradient(to top left, #468487, transparent),
    linear-gradient(to top right, #77873b, transparent);
  background-blend-mode: screen;
  background-size: 200% 200%; /* Make sure the size is large enough to cover the animation area */
  animation: gradient-animation 15s linear infinite;
}

.awards-gradient-background {
  background: linear-gradient(#fb2b02, transparent),
    linear-gradient(to top left, #939292, transparent),
    linear-gradient(to top right, #050505, transparent);
  background-blend-mode: screen;
  background-size: 200% 200%; /* Make sure the size is large enough to cover the animation area */
  animation: gradient-animation 15s linear infinite;
}

@keyframes gradient-animation {
  0%,
  100% {
    background-position:
      0% 0%,
      0% 0%,
      0% 0%; /* Starting positions for each gradient */
  }
  25% {
    background-position:
      100% 100%,
      25% 75%,
      50% 25%; /* Transition positions */
  }
  50% {
    background-position:
      0% 0%,
      50% 25%,
      75% 50%; /* Transition positions */
  }
  75% {
    background-position:
      100% 100%,
      75% 50%,
      100% 100%; /* Transition positions */
  }
}
